<tr>
  <td style="width: 30%"></i><%= article.title %></td>
  <td style="width: 20%"><%=raw truncate(article.content , length: 30, omission: '...') %></td>
  <td style="width: 30%"><%= article.slug %></td>
  <td class="action-article">
    <%= link_to edit_admin_article_path(article) do %>
      <%= content_tag :i, "", class: "far fa-edit text-info" %>
    <% end %>
    <%= link_to admin_article_path(article), method: :delete, data: { confirm: "You sure?" } do %>
      <%= content_tag :i, "" , class: "far fa-trash-alt text-danger" %>
    <% end %>
  </td>
</tr>
