<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Hảo Trương">
  <title><%= yield(:title) %></title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="description" content="Ngày đó chở theo ánh mắt trong trẻo nhìn cuộc đời không một chút hoài nghi, thế giới trong đồng tử của một đứa trẻ con bao giờ cũng đẹp tuyệt.">
  <meta property="og:image" content="<%= image_url('logo.png') %>">
  <%= favicon_link_tag asset_path("favicon.png"), :rel => "icon", :type => "image/x-icon" %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
</head>
<body>
  <div id="particles-js"></div>
  <div class="container">
    <div class="content">
      <%= yield %>
    </div>
  </div>
  <%= javascript_include_tag "article_layout", "data-turbolinks-track": "reload" %>
</body>
</html>
